:root{
    /* Dark mode */
    --dark: #161B22;
    --card-background: #343A40;
    --purple: #8412FF;
    --light: #FCFAF8;

    /* Light Mode */
    /* --dark: #FCFAF8;
    --light: #161B22;
    --card-background: #FCFAF8; */
}

body{
    background-color: var(--dark);
}

.card{
    background-color: var(--card-background);
    color: var(--light);
}

.modal-content{
    background-color: var(--card-background);
    color: var(--light);
}

.btn-purple{
    background-color: var(--purple);
    color: white;
}

.btn-purple:hover{
    --purple: #8412EF;
    color: white;;
}

.loader{
    width: 3rem;
    height: 3rem;
    color: var(--purple);
}

input{
    color: var(--light) !important;
}

textarea{
    color: var(--light) !important;
}

.border-purple{
    border-color: var(--purple);
}

.border-purple:focus{
    border-color: var(--purple);
}

.app-title{
    color: var(--light);
}